@import "../../common/css/minxs.styl"

.wrapper
  .wrapper-main
    .hdWraper
      position fixed
      z-index 99
      .head-main
        padding-top rem(15)
        width rem(750)
        height rem(75)
        background-color #FAFAFA
        border-1px(#ededed)
        .head-search
          margin-left rem(30)
          display flex
          align-items center
          justify-content center
          width rem(690)
          height rem(56)
          color #666
          font-size .37333rem
          background-color #ededed
          border-radius .10667rem
    .cateContainers
      display flex
      width rem(750)
      height 100%
      overflow hidden
      padding-top rem(75)
      background-color #fff
      .left-list
        width rem(162)
        margin-top rem(8)
        height 100%
        .list
          height rem(1120)
          padding .23333rem 0
          .item
            width rem(162)
            height rem(95)
            text-align center
            line-height rem(95)
            position relative
            font-size rem(28)
            &.active:after
              content ' '
              position absolute
              top rem(20)
              left 0
              bottom 0
              width .08rem
              height rem(50)
              background-color #ab2b2b
            &.active
              color #ab2b2b
      .right-list
        padding-top rem(40)
        margin-left rem(30)
        width rem(528)
        .subCateList
          width rem(528)
          height rem(872)
          .subCateContainer
            .banner
              width rem(528)
              height rem(192)
              img
                width 100%
                height 100%
            .cateList
              .list
                display flex
                justify-content space-between
                flex-wrap wrap
                .item
                  display inline-block;
                  width rem(144);
                  height rem(216)
                  .cateImgWrapper
                    margin-top rem(40)
                    width rem(144)
                    height rem(140)
                    img
                      width: rem(144)
                      height rem(140)
                  .name
                    display: block;
                    height rem(52);
                    line-height rem(35)
                    text-align center
                    font-size .32rem;
                    color #333;


